<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624734604899-qte1sv4g2n98g9pgtjrit3nvsetqcjcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624734604899-qte1sv4g2n98g9pgtjrit3nvsetqcjcj</string>
	<key>API_KEY</key>
	<string>AIzaSyCC-g0JgcxiyiresiJinL6ZbBStWe0c0vM</string>
	<key>GCM_SENDER_ID</key>
	<string>624734604899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.yuto19990715.Achievement</string>
	<key>PROJECT_ID</key>
	<string>write-out</string>
	<key>STORAGE_BUCKET</key>
	<string>write-out.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:624734604899:ios:0f51fa4973cdf55e5ff256</string>
	<key>DATABASE_URL</key>
	<string>https://write-out.firebaseio.com</string>
</dict>
</plist>
